/install/
/build/
*.h5
*.root
*.slcio
*.tga
*.log
# model binary files
models/*.pt
/models/*.onnx

# Local directories for geometry
/CLIC_local/CLIC/*
/FCCee_local/FCCee/*
/k4geo_fully_sensitive/*
/ODDxml/*
/edm4hep_analysis/*
